.App {
  text-align: center;
}

.form-container {
  min-height: 50vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}